apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: nginx-ingress

resources:
- ../../base

patches:
  - target:
      kind: Service
      name: ingress-nginx-controller
    patch: |
      - op: add
        path: /spec/ports/0/nodePort
        value: 30080
      - op: add
        path: /spec/ports/1/nodePort
        value: 30443
